# Lab: Khởi tạo, sao chép và lưu trữ dữ liệu bằng Pandas

# 1. Khởi tạo

## 1.1. Series

### 1.1.1. Khởi tạo bằng List

In [1]:
import pandas as pd

In [35]:
# Yêu cầu: Hãy tạo một list fruits chứa các phần tử lần lượt là 'Apple', 'Banana', 'Cherry'
fruits_list = ['Apple', 'Banana', 'Cherry']

# Yêu cầu: Hãy tạo một Series từ list fruits
fruits = pd.Series(fruits_list)
fruits

0     Apple
1    Banana
2    Cherry
dtype: object

In [40]:
# Yêu cầu: Hãy tạo một list ratings chứa các đánh giá lần lượt là 5, 3, 2, 1, 4, 3
ratings_list = [5, 3, 2, 1, 4, 3]

# Yêu cầu: Hãy tạo một Series từ list ratings
ratings = pd.Series(ratings_list)
ratings

0    5
1    3
2    2
3    1
4    4
5    3
dtype: int64

### 1.1.2. Khởi tạo bằng Dictionary

In [38]:
fruits_abc_dict = {'A': 'Apple',
                   'B': 'Banana',
                   'C': 'Cherry'}

# Yêu cầu: Hãy tạo một Series từ dictionary fruits_abc_dict
fruits_abc = pd.Series(fruits_abc_dict)
fruits_abc

A     Apple
B    Banana
C    Cherry
dtype: object

### 1.1.3. Khởi tạo đọc file

In [4]:
# Yêu cầu: Hãy tạo một Series App Name từ Google_Playstore.csv
app_name = pd.read_csv("Google_Playstore.csv", usecols = ["App Name"])
app_name.head()

                                                  App Name
0                                                  Gakondo
1                                      Ampere Battery Info
2                                                   Vibook
3        Smart City Trichy Public Service Vehicles 17UC...
4                                                  GROW.me
...                                                    ...
2312939                                           大俠客—熱血歸來
2312940                                         ORU Online
2312941                                     Data Structure
2312942                                        Devi Suktam
2312943                       Biliyor Musun - Sonsuz Yarış

[2312944 rows x 1 columns]

## 1.2. DataFrame

### 1.2.1. Khởi tạo bằng List

In [25]:
sales_list = [('Apple', 'Fruit', 10),
              ('Hamburger', 'Fast Food', 20),
              ('Pepsi', 'Drinks', 10)]

# Yêu cầu: Hãy tạo một DataFrame từ list sales trên với tên cột lần lượt là Item, Type, Price
sales = pd.DataFrame(sales_list,  columns = ['Item', 'Type', 'Price'])
sales

        Item       Type  Price
0      Apple      Fruit     10
1  Hamburger  Fast Food     20
2      Pepsi     Drinks     10

### 1.2.2. Khởi tạo bằng Dictionary

In [6]:
sales_dict= {
    'Name': ['Apple', 'Hamburger', 'Pepsi'],
    'Type': ['Fruit', 'Fast Food', 'Drinks'],
    'Price': [10, 20, 10]
}

# Yêu cầu: Hãy tạo một DataFrame từ dictionary sales trên
sales_2 = pd.DataFrame(sales_dict)
sales_2

        Name       Type  Price
0      Apple      Fruit     10
1  Hamburger  Fast Food     20
2      Pepsi     Drinks     10

### 1.2.3. Khởi tạo bằng đọc file

In [7]:
# Yêu cầu: Hãy tạo một DataFrame từ Google_Playstore.csv
df_google_playstore = pd.read_csv("Google_Playstore.csv")
df_google_playstore.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

# 2. Thêm cột dữ liệu

In [8]:
sales.head()

               0          1   2
Item       Apple      Fruit  10
Type   Hamburger  Fast Food  20
Price      Pepsi     Drinks  10

In [26]:
count = [1, 2, 3]

# Yêu cầu: Hãy thêm cột số lượng bán cho DataFrame sales từ List trên
sales['Count'] = count

sales

        Item       Type  Price  Count
0      Apple      Fruit     10      1
1  Hamburger  Fast Food     20      2
2      Pepsi     Drinks     10      3

In [27]:
rating = pd.Series([5, 3, 2])
# Yêu cầu: Hãy thêm cột đánh giá cho DataFrame sales Series trên
sales['Rating'] = rating

sales

        Item       Type  Price  Count  Rating
0      Apple      Fruit     10      1       5
1  Hamburger  Fast Food     20      2       3
2      Pepsi     Drinks     10      3       2

# 3. Tạo bản sao tập dữ liệu

## 3.1. Series

In [31]:
# Yêu cầu: Hãy tạo một bản sao Series new_ratings từ Series ratings
new_ratings = pd.Series(ratings, copy = True)
new_ratings

0    5
1    3
2    2
3    1
4    4
5    3
dtype: int64

## 3.2. DataFrame

In [33]:
# Yêu cầu: Hãy tạo một bản sao DataFrame new_df_google_playstore từ DataFrame df_google_playstore
new_df_google_playstore = pd.DataFrame(df_google_playstore, copy = True)
new_df_google_playstore.head()

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Maximum Installs,Free,Price,...,Developer Website,Developer Email,Released,Last Updated,Content Rating,Privacy Policy,Ad Supported,In App Purchases,Editors Choice,Scraped Time
0,Gakondo,com.ishakwe.gakondo,Adventure,0.0,0.0,10+,10.0,15,True,0.0,...,https://beniyizibyose.tk/#/,jean21101999@gmail.com,"Feb 26, 2020","Feb 26, 2020",Everyone,https://beniyizibyose.tk/projects/,False,False,False,2021-06-15 20:19:35
1,Ampere Battery Info,com.webserveis.batteryinfo,Tools,4.4,64.0,"5,000+",5000.0,7662,True,0.0,...,https://webserveis.netlify.app/,webserveis@gmail.com,"May 21, 2020","May 06, 2021",Everyone,https://dev4phones.wordpress.com/licencia-de-uso/,True,False,False,2021-06-15 20:19:35
2,Vibook,com.doantiepvien.crm,Productivity,0.0,0.0,50+,50.0,58,True,0.0,...,NaN,vnacrewit@gmail.com,"Aug 9, 2019","Aug 19, 2019",Everyone,https://www.vietnamairlines.com/vn/en/terms-an...,False,False,False,2021-06-15 20:19:35
3,Smart City Trichy Public Service Vehicles 17UC...,cst.stJoseph.ug17ucs548,Communication,5.0,5.0,10+,10.0,19,True,0.0,...,http://www.climatesmarttech.com/,climatesmarttech2@gmail.com,"Sep 10, 2018","Oct 13, 2018",Everyone,NaN,True,False,False,2021-06-15 20:19:35
4,GROW.me,com.horodyski.grower,Tools,0.0,0.0,100+,100.0,478,True,0.0,...,http://www.horodyski.com.pl,rmilekhorodyski@gmail.com,"Feb 21, 2020","Nov 12, 2018",Everyone,http://www.horodyski.com.pl,False,False,False,2021-06-15 20:19:35

# 4. Lưu dữ liệu sang file dữ liệu

## 4.1. Series

In [ ]:
# Yêu cầu: Hãy lưu trữ Series fruits sang file csv
fruits.to_csv('fruits.csv', index = False)

# Yêu cầu: Hãy lưu trữ Series ratings sang file excel
ratings.to_excel('ratings.xlsx', index = False)

# Yêu cầu: Hãy lưu trữ Series fruits_abc sang file json
fruits_abc.to_json('fruits_abc.json')

## 4.2. DataFrame

In [ ]:
# Yêu cầu: Hãy lưu trữ DataFrame sales sang file csv
sales.to_csv("sales.csv", index = False)

# Yêu cầu: Hãy lưu trữ DataFrame sales sang file excel
sales.to_excel("sales.xlsx",sheet_name="sales", index = False)

# Yêu cầu: Hãy lưu trữ DataFrame sales sang file json
sales.to_json('sales.json')